.header__item__child {
    position: relative;
    padding: 0;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    .header__item__icon {
        width: 7rem;
        height: 7rem;

        circle {
            stroke-dashoffset: -30;
            fill: none;
            stroke-width: 8;
            stroke-linecap: round;
            transform: translate(15px, 5px);
        }
    }
    .header__icon {
        position: absolute;
        top: -5px;
        left: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
    }
}
