.menu {
  padding: 10px 0;
  list-style: none;
  margin-top: 35px;
  overflow: hidden;

  .menu-user-img {
    display: flex;
    justify-content: center;
    text-align: center;
    .menu-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: gainsboro;
      margin-bottom: 10px;
      span {
        font-size: 30px;
      }
    }
  }
  .menu-main {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .menu-list {
      overflow-y: scroll;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      height: 67vh;
      position: relative;
      padding: 10px;
      .menu-item,
      .menu-dropdown {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        color: black;
        transition: 0.15s ease-in-out;
        border: none;
        outline: none;
        padding: 15px 10px;
        border-radius: 5px;
        position: relative;
        z-index: 1;

        .menu-icon {
          min-width: 40px;
          height: 40px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;
          border-radius: 8px;
        }
        .menu-info {
          font-size: 12px;
        }
        &:hover {
          color: #1677ff !important;
          cursor: pointer;
        }
        &::before {
          content: '';
          display: block;
          background-color: #e6f4ff;
          position: absolute;
          border-radius: 8px;
          z-index: -1;
          right: 0;
          top: 0;
          bottom: 0;
          left: 0;
          visibility: hidden;
          transition: 0.3s ease-in-out;
          opacity: 0;
        }

        &.active {
          &::before {
            visibility: visible;
            opacity: 1 !important;
          }
          color: #1677ff;
        }
      }
    }
  }
  .menu-logout {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }
  }
}

.ant-menu-submenu-title {
  margin: 0 !important;
  padding: 0 !important;
}
.ant-menu-item-only-child {
  padding-left: 8px !important;
}
.menu .menu-main .menu-list .menu-item:hover,
.menu .menu-main .menu-list .menu-logout:hover {
  background-color: unset;
}
:where(.css-dev-only-do-not-override-2rgkd4).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-2rgkd4).ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-2rgkd4).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-2rgkd4).ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: unset;
}
.ant-menu-sub {
  margin-top: 4px !important;
  border-radius: 5px !important;
}
.ant-menu-item {
  margin: 0 4px !important;
}
.menu-list::-webkit-scrollbar {
  display: none;
  transition: 0.3s ease;
}
.menu-list:hover {
  &.menu-list::-webkit-scrollbar {
    display: block !important;
  }
}
