.submenu {
    width: auto;
  
   transition: 0.3s ease-in;
   position: absolute;
    
//    transform: translateY(-150%);
    // position: absolute;
   
    // overflow-y: hidden;
    z-index: 99;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.02);
    .submenu__list {
        list-style: none;
        
        transition: 0.3s ease-in;
        padding: 0;
    }
    .submenu__list-item {
        padding: 12px;
    }
}
