.modal__edit__title {
    display: flex;
    align-items: center;
}
.ant-modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal {
        top: unset !important;
        padding: 0;
    }
}
.btn-close {
    background-color: #fff !important;
}
.modal__title__icon {
    height: 40px;
    display: flex;
    align-items: center;
}
